/* bleu : 1d3155 */
/* rose : e3bbce */
html {
  background-color: #f6f6f6;
  color: #333333;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.475em;
}

body {
  height: 100%;
  overflow: hidden;
}

.banner {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  color: #333333;
  padding: 40px 20px;
  position: relative;
  width: 80vw;
}

@media (min-width: 900px) {
  .banner {
    padding: 40px;
    width: 50vw;
  }
}

.banner-close {
  cursor: pointer;
  display: block;
  padding: 6px;
  position: absolute;
  right: 12px;
  top: 12px;
}
.banner-close svg {
  display: block;
}

.modale {
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 200;
}

.main {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;

  background: #1d3155 url("/images/flower.png") no-repeat 20% bottom;
  top: 100%;
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 100;
}

.mobile-header {
  display: flex;
  flex-direction: row;

  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 12px rgba(29, 49, 85, 0.4);
  position: sticky;
}

#mobile-menu-opener {
  display: flex;
  align-items: center;

  background: #efefef;
  border: #efefef;
  border-radius: 3px;
  color: #333333;
  height: 40px;
  margin: 10px 10px 10px auto;
  width: 40px;
}

@media (min-width: 900px) {
  .main {
    flex-direction: row;
  }

  .header {
    flex: 0 0 30%;
    overflow: auto;
    position: relative;
    top: 0;
    width: auto;
}

  .mobile-header {
    display: none;
  }

  #mobile-menu-opener {
    display: none;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background:rgba(0, 0, 0, 0.4);
  height: 100%;
  padding: 60px 20px 40px;
}

.menu a, .menu a:visited {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.menu a:hover, .menu a:focus {
  color: #e3bbce;
}

.menu .rdv a:hover, .menu .rdv a:focus {
  color: #ffffff;
}

.menu ul, .pagination {
  list-style-type: none;
  padding: 0;
}

.menu-logo {
  align-self: flex-end;
  margin-bottom: 100px;
}

.menu-main {
  margin: 1em 0;
}

.menu-main a {
  display: block;
  font-weight: bold;
  padding: 10px;
  text-align: right;
}

.menu-main .rdv {
  border-right: 5px solid rgba(227, 187, 206, 0.6);
  font-size: 1.2rem;
  margin-top: 20px;
}

.menu-main .rdv a {
  color: #e3bbce;
}

.menu-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 100%;
}

.menu-social a, .menu-social a:visited {
  display:flex;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  color: #1d3155;
  margin: 0 10px;
  padding: 8px;
}

.menu-social a:focus, .menu-social a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #1d3155;
}

.main-title a, .main-title a:visited {
  color: #1d3155;
  transition: all 0.2s ease-in-out;
}

.main-title a:focus, .main-title a:hover {
  color: #e3bbce;
}

#content {
  height: 100%;
  overflow: auto;
  padding: 20px 10px 40px;
}

@media (min-width: 900px) {
  #content {
    flex: 1 1 70%;
    padding: 40px;
  }
}

.main-title {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 4rem;
}

.main-title .title-text {
  color: #333333;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
}

.main-decorate {
  background-color: #e3bbce;
  flex-grow: 1;
  height: 5px;
  margin: 1.7em 0 0 1em;
}

.cares-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 25px;

  list-style-type: none;
  margin: 30px 0;
  padding: 0;
}

.care-item {
  position: relative;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.care-item a {
  text-decoration: none;
}

.picture {
  border-radius: 3px;
  border: 5px solid #e3bbce;
  box-sizing: border-box;
}

.care-visual {
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  filter: brightness(100%);
  height: auto;
  transition: all 0.2s ease-in-out;
  width: 100%;
  border: 5px solid #e3bbce;
}

.care-item a:hover .care-visual {
  filter: brightness(80%);
}

.care-title, .care-text {
  margin: 0;
}

.care-title {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.2rem 0 0;
}

.care-text {
  font-size: 1rem;
}

.care-details {
  color: #333333;
  padding: 6px;
  width: 100%;
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: center;
}

.pagination .page-item a,
.pagination .page-item a:visited {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #333333;
  font-weight: 600;
  height: 2rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 2rem;
}

.pagination .page-item.active a,
.pagination .page-item.active a:focus,
.pagination .page-item.active a:hover {
  cursor: default;
  background-color: transparent;
  border: 0;
}

.pagination .page-item a:focus,
.pagination .page-item a:hover {
  background-color: #dddddd;
}

.pagination .page-item.disabled {
  filter: opacity(60%);
  pointer-events: none;
}

.button {
  background-color: rgba(227, 187, 206, 0.6);
  border: 1px solid rgba(227, 187, 206, 0.6);
  border-radius: 6px;
  color: #333333;
  display: block;
  padding: 8px 16px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.button:focus, .button:hover {
  background-color: rgba(227, 187, 206, 1);
  border: 1px solid rgba(227, 187, 206, 1);
}
