/* bleu : 1d3155 */
/* rose : e3bbce */
html {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
}

.banner {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  color: #333333;
  padding: 40px;
  position: relative;
  width: 50vw;
}

.banner-close {
  cursor: pointer;
  display: block;
  padding: 6px;
  position: absolute;
  right: 12px;
  top: 12px;
}
.banner-close svg {
  display: block;
}

.modale {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.main {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  background: #1d3155 url("/images/logo-fond.png") no-repeat left bottom;
  background-size: contain;
  color: #ffffff;
  flex: 0 0 30%;
  height: 100vh;
  overflow: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background:rgba(0, 0, 0, 0.4);
  height: 100%;
  padding: 60px 20px 40px;
}

.menu a, .menu a:visited {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.menu a:hover, .menu a:focus {
  color: #e3bbce;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu-logo {
  align-self: flex-end;
  margin-bottom: auto;
}

.menu-main {
  margin: 1em 0;
}

.menu-main a {
  display: block;
  font-weight: bold;
  padding: 10px;
  text-align: right;
}

.menu-main .rdv {
  border-top: 3px dotted rgba(227, 187, 206, 0.4);
  margin-top: 10px;
  padding-top: 10px;
}

.menu-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 100%;
}

.menu-social a {
  display:flex;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  color: #1d3155;
  margin: 0 10px;
  padding: 8px;
}

.menu-social a:focus, .menu-social a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #1d3155;
}

#content {
  flex: 1 0 75%;
  height: 100%;
  overflow: auto;
}