{{ define "main" }}
<main>
    <header>
        <h1>{{.Title}}</h1>
        {{.Content}}
    </header>
    {{ range .Paginator.Pages }}
    <article class="list">
    {{ if  .Params.News }}
        <h2>{{ .Title }}</h2>
        <ul class="list-inline">
            <li><i>Par </i>{{ .Site.Params.Author }}</li>
            <li><i>Le </i>{{ .PublishDate.Format "02 Jan, 2006" }}</li>
        </ul>
        {{ if .Params.Image }}<img src="{{ .Params.Image }}" alt="{{ htmlEscape .Title }}">{{ end }}
        {{ .Content }}
    {{ else }}
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ with .Params.Subtitle }}<p>{{ . }}</p>{{ end }}
        {{ if .Params.Thumbnail }}<img src="{{ .Params.Thumbnail }}" alt="{{ htmlEscape .Title }}">{{ end }}
    {{ end }}
    </article>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
</main>
{{ end }}