{{ define "main" }}
<main aria-role="main" class="page">
    <header class="main-title">
        <h1 class="title-text">{{if .Params.Product}}{{ .Parent.Title }}{{ else }}{{.Title}}{{ end }}</h1>
        <span class="main-decorate"></span>
    </header>
    <article>
        {{- if .Params.Product }}
        <div class="page-titles">
            <h2 class="page-title">{{ .Title }}</h2>
            <span class="page-rdv"><a href="{{ .Site.Params.BookURL }}" target="_blank" rel="noopener" class="button">Prendre rendez-vous</a></span>
        </div>
        {{ end -}}
        {{ if and .Params.Image (not .Params.Contact)}}<img src="{{ .Params.Image }}" alt="{{ htmlEscape .Title }}" class="picture">{{ end }}
        <div class="single">{{ .Content}}</div>
        {{- if .Params.Product }}
           <p class="rdv" ><a href="{{ .Site.Params.BookURL }}" target="_blank" rel="noopener" class="button">Prendre rendez-vous</a></p>
        {{ end -}}
        {{- if .Params.Contact }}
            <div class="contact">
            {{- if .Params.Image }}
                <a href="{{ .Site.Params.MapURL }}" target="_blank" rel="noopener"><img src="{{ .Params.Image }}" alt="{{ htmlEscape .Title }}"></a>
            {{ end }}
            <ul>
                <li class="address"><a href="{{ .Site.Params.MapURL }}" target="_blank" rel="noopener">{{ .Site.Params.Address }}</a></li>
                {{ with .Site.Params.Phone }}<li class="phone"><i>Tel: </i><a href="tel:{{ strings.Replace . " " "" }}">{{ . }}</a></li>{{ end }}
                {{ with .Site.Params.Email }}<li class="email"><i>Email: </i><a href="mailto:{{ . }}">{{ . }}</a></li>{{ end }}
            </ul>
            </div>
        {{ end}}
    </article>
</main>
{{  end }}