{{- $svgMenu := resources.Get "/icons/menu.svg" -}}
<div class="mobile-header">
    <a href="/"><img src="/images/logo.png" alt="{{.Site.Title}}" width="236" height="119" /></a>
    <button id="mobile-menu-opener" type="button">{{ $svgMenu.Content | safeHTML }}</button>
</div>
<header class="header" id="menuHeader">
    <nav aria-role="nav" class="menu">
        <a href="/" class="menu-logo"><img src="/images/logo.png" alt="{{.Site.Title}}" width="236" height="119" /></a>
        <ul class="menu-main">
            {{ with .Site.GetPage "home" -}}
            {{ range .Pages }}<li><a href="{{.Permalink}}">{{.Title}}</a></li>{{ end -}}
            {{ end -}}
            <li class="rdv"><a href="{{ .Site.Params.BookURL }}" target="_blank" rel="noopener">Prendre rendez-vous</a></li>
        </ul>
        {{if .Site.Params.Social -}}
        <ul class="menu-social">
            {{- range .Site.Params.Social -}}
            {{- $url := urls.Parse . -}}
            {{- $ref := index (split $url.Host ".") 1 -}}
            {{- $svgFb := resources.Get "/icons/facebook.svg" -}}
            {{- $svgInsta := resources.Get "/icons/instagram.svg" -}}
            <li><a href="{{ $url }}" target="_blank" rel="noopener" class="{{ $ref }}" title={{$ref}}>
                {{- if eq $ref "facebook"}}{{ $svgFb.Content | safeHTML }}{{ end -}}
                {{- if eq $ref "instagram"}}{{ $svgInsta.Content | safeHTML }}{{ end -}}
            </a></li>
            {{- end -}}
        </ul>
        {{ end -}}
    </nav>
</header>
{{- with .Site.Params.Banner -}}
{{- $svgClose := resources.Get "/icons/x.svg" -}}
    <div class="modale" id="alert-banner">
    <div class="banner"><div class="banner-close">{{ $svgClose.Content | safeHTML }}</div>{{ . }}</div>
</div>
{{- end -}}